/* CSS reset */

* {
    margin: 0;
    padding: 0;  
}

/* General styles */

body {
    background-color: #00a6a6;
    font-family: "Manrope", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
}

h1 {
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
}

/* Header */

.logo {
    width: 100px;
    margin: 0 auto;
}

.logo img {
    width: 100px;
    padding: 1em 0 1.5em 0;
}

.navbar {
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
}

.navbar a:link {
    padding: 0.5em;
    border-radius: 5%;
    color: #FFF; /* Temporary colour */
}

.navbar a:hover {
    padding: 0.5em;
    border-radius: 5%;
    color: #FFF;  /* Temporary colour */
    background-color: green; /* Temporary colour */
}

.navbar a:active {
    padding: 0.5em;
    border-radius: 5%;
    color: #FFF;  /* Temporary colour */
    background-color: blue; /* Temporary colour */
}

.navbar li  {
    padding-left: 1%;
    font-size: 1.25em;
    display: inline;
    color: #FFF;
}

.active {
    padding: 0.5em;
    border-radius: 5%;
    color: #FFF;  /* Temporary colour */
    background-color: blue; /* Temporary colour */
}

/* Footer */

.socials {
    padding-top: 0.1%;
    text-align: center;
}

.socials li {
    padding: 0.4%;
}

.socials div {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #003744;
    margin: 0 auto;
}

.socials i {
    color:#FFF;
    font-size: 30px;    
}

.copyright {
    padding-top: 1%;
    text-align: center;
}

/* Temporary styles - to delete, change, or update later */

header {
    padding: 1.5%;
    background-color: #ec3527;
}

footer {
    padding: 1.5%;
    background-color: #d0b89e;
}