/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    background-color: #FFF;
    color: #FFF;
    font-family: "Pontano Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Marcellus", sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

mark {
    padding: 0;
    background-color: #cf9d00;
    color: #FFF;
}

/* Align placeholder text on forms */

::placeholder {
    text-align: center;
}

/* Hover over link item colour */

ul li>a:hover {
    background-color: #016c62;
    color: #FFF;
}

ul li>a:active {
    background-color: #007696;
    color: #FFF;
}

/* Utility classes */

.emerald {
    background-color: rgba(1, 108, 98, 1);
}

.teal {
    background-color: rgba(0, 118, 150, 1);
}

.raspberry {
    background-color: rgba(163, 0, 65, 1);
}

.orange {
    background-color: rgba(229, 61, 0, 1);
}

.mustard {
    background-color: rgba(207, 157, 0, 1);
}

/* Post-It note */

.note {
    background-color: rgb(255, 255, 136);
    color: #000;
    text-wrap: wrap;
    text-align: center;
    height: 250px;
    width: 250px;
}

/* Customised Bootstrap buttons */

.btn-info,
.btn-primary {
    --bs-btn-bg: #cf9d00;
    --bs-btn-color: #FFF;
    --bs-btn-border-color: #cf9d00;
    --bs-btn-hover-color: #FFF;
    --bs-btn-hover-bg: #e53d00;
    --bs-btn-hover-border-color: #e53d00;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #FFF;
    --bs-btn-active-bg: #a30041;
    --bs-btn-active-border-color: #a30041;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #016c62;
    --bs-btn-disabled-border-color: #016c62;
}

/* Header */

/* Hover over navbar menu item colour */

a.nav-link:hover {
    background-color: #e53d00;
    color: #FFF;
}

/* Clicked navbar menu item colour */

a.nav-link:active {
    background-color: #a30041;
    color: #FFF;
}

/* Currently active page indicator colour */

.active {
    background-color: #cf9d00;
    color: #FFF !important;
}

/* Navbar background colour */

.bg-body-tertiary {
    background-color: #007696 !important;
}

/* Hamburger menu colours*/

.navbar-toggler {
    --bs-navbar-toggler-border-color: #FFF;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: #FFF;
}

/* Target the navbar brand header text only, by using the adjacent sibling combinator */

div a span {
    font-family: "Gentium Book Plus", sans-serif;
    color: #FFF;
    font-size: 1.5em;
}

/* Remove hover colour on page title using the child combinator */

.navbar div>a:hover {
    background-color: transparent;
}

/* Set colour for navbar list items */

li.nav-item a {
    color: #FFF;
}

/* Home (index) page */

.hero-image {
    width: 60%;
}

.live-show-img {
    width: 35%
}

#live-dates li {
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
}

/* Footer */

footer {
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
}

footer ul li {
    list-style: none;
}

/* Set colour of Facebook icon using the descendant combinator */

li.facebook a:hover {
    color: #0165E1;
    background-color: transparent;
}

/* Set colour of Instagram icon using the descendant combinator */

li.instagram a:hover {
    color: #E1306C;
    background-color: transparent;
}

/* Style legal text in footer, using the child combinator */

footer small p>a {
    text-decoration: underline;
    background-color: transparent;
}

/* About page */

/* Set image size within the podcast overview section using the descendant combinator */

.podcast-overview img {
    width: 50%;
}

/* Contact page*/

.contact-form {
    width: 75%;
    margin: 0 auto;
}

/* Media queries for Bootstrap breakpoints */

@media (min-width: 1400px) and (max-width: 1000000px) {
    body {
        padding-top: 120px;
        margin-bottom: 145px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    body {
        padding-top: 120px;
        margin-bottom: 145px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        padding-top: 120px;
        margin-bottom: 145px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 100px;
        margin-bottom: 145px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    body {
        padding-top: 100px;
        margin-bottom: 145px;
    }
}


@media (min-width: 0px) and (max-width: 575px) {
    body {
        padding-top: 100px;
        margin-bottom: 145px;
    }
}